.thisDayWeatherInfo {
	width: 750px;
	min-height: 300px;
	position: relative;
	padding: 15px;
	display: grid;
	grid-template: auto / repeat(auto-fit, minmax(290px, 345px));
	justify-content: center;
	align-items: center;
	gap: 10px;

	&__item {
		display: grid;
		grid-template: minmax(10px, auto) / repeat(10, 1fr);
		align-items: center;
		text-align: center;

		.thisDayWeatherInfo__icon {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			box-shadow: 1px 4px 10px -1px rgba(71, 147, 255, 0.2);
			display: flex;
			justify-content: center;
			align-items: center;
			grid-column: 1 / 2;

			img {
				width: 30px;
				height: 30px;
			}
		}

		span {
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			color: #939CB0;
			text-align: center;
			grid-column: 2 / 6;
		}

		p {
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			grid-column: 6 / 11;
			align-items: center;
		}
	}
}