.main {
	width: 350px;
	height: 350px;
	border: 1px solid darkgoldenrod;
	margin: 0 auto;
	border-radius: 15px;
	position: relative;
	margin-top: 15px;
	animation: come 1.5s ease 1 forwards;

	img {
		border-radius: 15px;
	}

	&__finder {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		input {
			max-width: 300px;
			padding: 7px 10px;
			border: 1px solid lightblue;
			background: snow;
			border-radius: 14px;
			margin: 0 auto;
			margin-bottom: 10px;
			text-align: center;

			&:focus {
				outline: none;
				border: 1px solid rgb(149, 149, 221);
				box-shadow: 0px 0px 3px 1px rgb(131, 131, 212);
			}

			&::placeholder {
				font-style: italic;
			}
		}

		button {
			padding: 5px 10px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 14px;
			margin: 0 auto;
			border: none;
			background: rgb(235, 244, 247);
			cursor: pointer;
			font-size: 14px;

			&:hover {
				transform: scale(1.03);
			}

			&:active {
				transform: scale(0.97);
			}
		}
	}
}

@keyframes come {
	from {
		transform: translateY(-300px)
	}

	to {
		transform: translateY(0)
	}
}