.application {
	max-width: 1200px;
	margin: 0 auto;

	&__wraper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		gap: 30px 50px;
		animation: visibility 1s ease 1 forwards;
		padding: 15px;
	}
}

@keyframes visibility {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}