.severalDaysWeather {
	min-height: 280px;
	width: 100%;
	padding: 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	// grid-template: auto / repeat(auto-fit, 150px);
	gap: 15px;

	&__item {
		width: 150px;
		height: 200px;
		background: #DAE9FF;
		border-radius: 7px;
		padding: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;

		h2 {
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			margin-bottom: 7px;
			color: #8b8e94;
		}

		h3 {
			font-weight: normal;
			letter-spacing: 1px;
			margin-bottom: 7px;
		}

		img {
			width: 50px;
			height: 50px;
			margin-bottom: 3px;
		}

		span {
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 22px;
			color: #4793FF;
		}
	}

	&__text {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		color: SteelBlue;
	}

	&__pressure {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: #808899;
		position: absolute;
		bottom: 10px;
	}
}