.thisDay {
	width: 400px;
	height: 300px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	text-align: center;
	position: relative;
	// border: 1px solid darkorange;
	// border-radius: 15px;

	&__location {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		margin-bottom: 5px;
		text-align: center;
	}

	&__date {
		font-family: 'Montserrat';
		font-weight: bold;
		font-size: 26px;
		text-align: center;
	}

	img {
		width: 140px;
		height: 140px;
		z-index: -1;
		margin-bottom: -14px;
	}

	p {
		font-size: 18px;
		color: #4793FF;
		font-weight: bold;
	}

	&__time {
		position: absolute;
		font-family: 'Montserrat';
		font-size: 22px;
		bottom: 15px;
		left: 50%;
		width: 100%;
		transform: translate(-50%);
	}
}