.errorIndicator {
	text-align: center;
	padding: 15px;

	img {
		height: 200px;
		border-radius: 15px;
		margin-bottom: 15px;
	}

	h4 {
		margin-bottom: 10px;
		font-size: 20px;
		color: LightCoral;
	}

	p {
		font-size: 22px;
		font-weight: bold;
		// color: DarkGoldenRod;
	}
}